* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merienda', cursive;
    text-align: center;
}

h1 {
    color: blue;
}

#errors {
    color: red;
}

#board {
    width: 540px;
    height: 540px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#numbers {
    width: 540px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 60px;
    height: 60px;
    border: 1px solid grey;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    width: 56px;
    height: 56px;
    border: 1px solid black;
    margin: 2px;
    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-selected {
    background-color: cadetblue;
}

.tile-start {
    background-color: lightgray;
}

.horizontal-line {
    border-bottom: 4px solid black;
}

.vertical-line {
    border-right: 4px solid black;
}

.horizontal-line-1 {
    border-top: 4px solid black;
}

.vertical-line-1 {
    border-left: 4px solid black;
}